.header-chat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
    font-size: 20px;
    height: 10vh;
    background-color:#feb2a8;

}