@import '~antd/dist/antd.css';

.message-part {
    display: flex;
	flex-direction: column;
    /* width: 100%; */
	height: 80vh;
}

.single-message {
	display: flex;
	flex-direction: row;
	justify-content: baseline;
}

.talk-bubble-right {
	margin: 10px 40px 10px 40px;
	position: relative;
	left: 65%;
	text-align: right;
	width: 250px;
	height: auto;
    background-color:#f6cd61;
}

.talk-bubble-left {
	margin: 10px 40px 10px 40px;
    /* display: inline-block; */
	position: relative;
	text-align: left;
	width: 250px;
    height: auto;
    background-color: #e7d3d3 ;
}

.round{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

.talktext-left{
    padding: 1em;
    text-align: left;
    line-height: 1em;
    color: gray;
}

.talktext-right{
    padding: 1em;
    text-align: right;
    line-height: 1em;
    color: gray;
}

.image-cropper {
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}