.text-part {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10vh;
    align-items: center;
    background-color:#feb2a8;
}

.text-input .ant-input {
    width: 400px;
    margin: 0 10px 0 0;
    color: #fe8a71;
}