@import '~antd/dist/antd.css';

.body{
    display: flex;
    text-align: center;
    width: 100%;
    height: 100%;
    font-family: Kanit;
    font-size: 16px; 
    color: #808080;
}

.chat-list {
    width: 30%;
    height: 100%;
    background-color: bisque;
}

.chat-part {
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    /* background-color: lightgray; */
}
